rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // The application uses its own custom authentication mechanism in-app, 
    // so we allow client access here.
    match /{document=**} {
      allow read, write: if true;
    }
  }
}


