rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Only authenticated users/clients can read or write data
    match /{document=**} {
      allow read, write: if request.auth != null;
    }
  }
}


